PORT=4000
MONGODB_URI=mongodb://localhost:27017/hackathon

JWT_SECRET_ACCESS=2bee0387f51464e9a887313f1568ae0cf3ad58e3
JWT_SECRET_REFRESH=313f1568ae0cf3ad58e32bee0387f51464e9a887

NODE_ENV=development

ORIGIN=http://localhost:5173
ORIGIN_PROD=https://hack-sprint-seven.vercel.app
CORS_ORIGINS=http://localhost:5173,https://hack-sprint-seven.vercel.app

IMAGEKIT_PUBLIC_KEY=public_5H7YbWBSmSxdHEOyGg43jsX77s4=
IMAGEKIT_PRIVATE_KEY=private_41PXtxnQcEBoIBqbgHbSW6Q9SP0=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/nya4chyes
